<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="main-page.css" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header></header>

    <main>
      <article class="welcome-article">
        <section class="welcome-section white-section">
          <h1 class="display-4">Welcome to our page</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus repudiandae doloremque culpa error, numquam at?
          </p>
        </section>
      </article>

      <article class="small-article white-section-sm">
        <section class="small-article-iconbox">
          <div class="icon"><i class="bi bi-database-down"></i></div>
          <div class="icon"><i class="bi bi-speedometer"></i></div>
          <div class="icon"><i class="bi bi-cloud-upload"></i></div>
          <h2 class="header-text-unicons">Data saving</h2>
          <h2 class="header-text-unicons">Speed</h2>
          <h2 class="header-text-unicons">Upload files</h2>
        </section>
      </article>

      <article class="big-article">
        <section>
          <h2 class="display-6">Big section</h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            veritatis necessitatibus earum perferendis totam error amet cum quis
            neque vel.
          </p>
        </section>
      </article>

      <article class="small-article white-section-sm">
        <section>
          <h2 class="display-6">Small section</h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            dolores!
          </p>
        </section>
      </article>

      <article class="last-cards-collection">
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
      </article>

      <article class="small-article white-section-sm">
        <section>
          <h2 class="display-6">Small section</h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            dolores!
          </p>
        </section>
      </article>

      <article class="last-cards-collection">
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
        <section class="last-card-object"></section>
      </article>

      <!-- <article class="big-article">
        <section>
          <h2 class="display-6">Big section</h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            veritatis necessitatibus earum perferendis totam error amet cum quis
            neque vel.
          </p>
        </section>
      </article> -->
    </main>

    <footer></footer>
  </body>
</html>
