<main>
  <article class="welcome-article">
    <section class="welcome-section white-section">
      <h1 class="display-4">Welcome to Collections Portal</h1>
      <p class="lead">
        This is a website for collection lovers, where you can explore, manage,
        and share your diverse collections. Whether you collect stamps, coins,
        books, or any other items, Collections Portal is the perfect place to
        showcase your passion and connect with fellow enthusiasts.
      </p>
    </section>
  </article>

  <article class="small-article white-section-sm">
    <section>
      <h2 class="display-6">Lately added items</h2>
      <p class="">These are latest added items to different collections</p>
    </section>
  </article>

  <article class="small-article">
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div *ngIf="latestItems" class="collection-detail">
              <h3 class="mt-4 mb-3">Latest added items</h3>
              <table
                mat-table
                [dataSource]="latestItems"
                class="mat-elevation-z8 bordered-table mt-3"
              >
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let item">{{ item.name }}</td>
                </ng-container>

                <ng-container matColumnDef="collectionName">
                  <th mat-header-cell *matHeaderCellDef>Collection</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item.collectionName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="creatorName">
                  <th mat-header-cell *matHeaderCellDef>Creator</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item.creatorName }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let item; columns: displayedColumns"
                  (click)="redirectToItemPage(item.collectionId, item.id)"
                ></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article class="small-article white-section-sm">
    <section>
      <h2 class="display-6">Biggest collections</h2>
      <p class="">These are biggest collections of all users</p>
    </section>
  </article>

  <article class="last-cards-collection">
    <section
      *ngFor="let collection of collections"
      class="last-card-object"
      (click)="redirectToCollectionDetails(collection.id)"
    >
      <h2>{{ collection.name }}</h2>
      <img [src]="collection.imageUrl" alt="{{ collection.name }} Image" />
      <p>Creator: {{ collection.creatorName }}</p>
    </section>
  </article>
</main>
