<main>
  <article class="welcome-article">
    <section class="welcome-section white-section">
      <h1 class="display-4">Welcome to our page</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        repudiandae doloremque culpa error, numquam at?
      </p>
    </section>
  </article>

  <article class="small-article white-section-sm">
    <section class="small-article-iconbox">
      <div class="icon"><i class="bi bi-database-down"></i></div>
      <div class="icon"><i class="bi bi-speedometer"></i></div>
      <div class="icon"><i class="bi bi-cloud-upload"></i></div>
      <h2 class="header-text-unicons">Data saving</h2>
      <h2 class="header-text-unicons">Speed</h2>
      <h2 class="header-text-unicons">Upload files</h2>
    </section>
  </article>

  <article class="big-article">
    <section>
      <h2 class="display-6">Big section</h2>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        veritatis necessitatibus earum perferendis totam error amet cum quis
        neque vel.
      </p>
    </section>
  </article>

  <article class="small-article white-section-sm">
    <section>
      <h2 class="display-6">Small section</h2>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
        dolores!
      </p>
    </section>
  </article>

  <article class="last-cards-collection">
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
  </article>

  <article class="small-article white-section-sm">
    <section>
      <h2 class="display-6">Small section</h2>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
        dolores!
      </p>
    </section>
  </article>

  <article class="last-cards-collection">
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
    <section class="last-card-object"></section>
  </article>

  <!-- <article class="big-article">
        <section>
          <h2 class="display-6">Big section</h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            veritatis necessitatibus earum perferendis totam error amet cum quis
            neque vel.
          </p>
        </section>
      </article> -->
</main>
